In [2]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("medium_NLP.csv")

In [3]:
raw_data.head()

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,url,Author_url
0,How to build a State-of-the-Art Conversationa...,NaN,1,Thomas Wolf,HuggingFace,2019,5,9,NLP,12,3.7K,0,https://medium.com/huggingface/how-to-build-a-...,https://medium.com/@Thomwolf?source=tag_archiv...
1,"Smaller, faster, cheaper, lighter: Introducin...",NaN,1,Victor Sanh,HuggingFace,2019,8,28,NLP,10,3.1K,0,https://medium.com/huggingface/distilbert-8cf3...,https://medium.com/@victorsanh?source=tag_arch...
2,Como Machine Learning consegue diferenciar het...,O Projeto de Processamento,1,Lucas Sepeda,Turing Talks,2020,4,19,NLP,7,3.1K,0,https://medium.com/turing-talks/como-machine-l...,https://medium.com/@lucassepeda?source=tag_arc...
3,"Top 10 Best Text Analytics APIs: Watson, Googl...",NaN,1,Yasu,Rakuten RapidAPI,2019,6,17,NLP,9,2K,0,https://medium.com/rakuten-rapidapi/top-10-bes...,https://medium.com/@yasunaka.cho.rakuten?sourc...
4,A Future of Better Care and Better HealthA Val...,NaN,1,Xenolytix,NaN,2019,5,8,NLP,4,2K,0,https://medium.com/@xenolytix/a-future-of-bett...,https://medium.com/@xenolytix?source=tag_archi...

In [4]:
raw_data.isnull().sum()

Title            215
Subtitle        1531
Image              0
Author             0
Publication     1818
Year               0
Month              0
Day                0
Tag                0
Reading_Time       0
Claps              0
Comment            0
url                0
Author_url         0
dtype: int64

In [6]:
raw_data.loc[raw_data['Title'].isnull(),'Title'] = raw_data['Subtitle']

In [7]:
raw_data.isnull().sum()

Title            160
Subtitle        1531
Image              0
Author             0
Publication     1818
Year               0
Month              0
Day                0
Tag                0
Reading_Time       0
Claps              0
Comment            0
url                0
Author_url         0
dtype: int64

In [8]:
raw_data.loc[raw_data['Title'].isnull(),'Title'] = "no title"

In [9]:
raw_data.isnull().sum()

Title              0
Subtitle        1531
Image              0
Author             0
Publication     1818
Year               0
Month              0
Day                0
Tag                0
Reading_Time       0
Claps              0
Comment            0
url                0
Author_url         0
dtype: int64

In [10]:
raw_data.loc[raw_data['Subtitle'].isnull(),'Subtitle'] = "no subtitle"
raw_data.isnull().sum()

Title              0
Subtitle           0
Image              0
Author             0
Publication     1818
Year               0
Month              0
Day                0
Tag                0
Reading_Time       0
Claps              0
Comment            0
url                0
Author_url         0
dtype: int64

In [11]:
raw_data.loc[raw_data['Publication'].isnull(),'Publication'] = "no Publication"
raw_data.isnull().sum()

Title           0
Subtitle        0
Image           0
Author          0
Publication     0
Year            0
Month           0
Day             0
Tag             0
Reading_Time    0
Claps           0
Comment         0
url             0
Author_url      0
dtype: int64

In [29]:
df_for_predict = raw_data.iloc[:,0:12]

In [30]:
df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment
0,How to build a State-of-the-Art Conversationa...,no subtitle,1,Thomas Wolf,HuggingFace,2019,5,9,NLP,12,3.7K,0
1,"Smaller, faster, cheaper, lighter: Introducin...",no subtitle,1,Victor Sanh,HuggingFace,2019,8,28,NLP,10,3.1K,0

In [31]:
df_for_predict.describe()

,Image,Year,Month,Day,Reading_Time,Comment
count,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000
mean,0.879534,2019.393699,6.296267,16.014032,5.688377,0.039185
std,0.325549,0.488634,3.440839,8.754936,4.487513,0.194059
min,0.000000,2019.000000,1.000000,1.000000,0.000000,0.000000
25%,1.000000,2019.000000,3.000000,8.000000,3.000000,0.000000
50%,1.000000,2019.000000,6.000000,16.000000,5.000000,0.000000
75%,1.000000,2020.000000,9.000000,24.000000,7.000000,0.000000
max,1.000000,2020.000000,12.000000,31.000000,140.000000,1.000000

In [32]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]

In [33]:
for char in spec_chars:
    df_for_predict['Title'] = df_for_predict['Title'].str.replace(char, ' ')

In [34]:
df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment
0,How to build a State of the Art Conversationa...,no subtitle,1,Thomas Wolf,HuggingFace,2019,5,9,NLP,12,3.7K,0
1,Smaller faster cheaper lighter Introducin...,no subtitle,1,Victor Sanh,HuggingFace,2019,8,28,NLP,10,3.1K,0

In [35]:
df_for_predict['Title'] = df_for_predict['Title'].str.split().str.join(" ")

In [36]:
for char in spec_chars:
    df_for_predict['Subtitle'] = df_for_predict['Subtitle'].str.replace(char, ' ')
    
df_for_predict['Subtitle'] = df_for_predict['Subtitle'].str.split().str.join(" ")

In [37]:
for char in spec_chars:
    df_for_predict['Author'] = df_for_predict['Author'].str.replace(char, ' ')
    
df_for_predict['Author'] = df_for_predict['Author'].str.split().str.join(" ")

for char in spec_chars:
    df_for_predict['Publication'] = df_for_predict['Publication'].str.replace(char, ' ')
    
df_for_predict['Publication'] = df_for_predict['Publication'].str.split().str.join(" ")

In [38]:
repl_dict = {'[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9', }
df_for_predict['Claps'] = df_for_predict['Claps'].replace(repl_dict, regex=True).map(pd.eval)

In [39]:
df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment
0,How to build a State of the Art Conversational...,no subtitle,1,Thomas Wolf,HuggingFace,2019,5,9,NLP,12,3700.0,0
1,Smaller faster cheaper lighter Introducing Dil...,no subtitle,1,Victor Sanh,HuggingFace,2019,8,28,NLP,10,3100.0,0

In [40]:
df_for_predict.dtypes

Title            object
Subtitle         object
Image             int64
Author           object
Publication      object
Year              int64
Month             int64
Day               int64
Tag              object
Reading_Time      int64
Claps           float64
Comment           int64
dtype: object

In [41]:
clean_df_for_predict = df_for_predict.apply(lambda x: x.astype(str).str.lower())

In [42]:
clean_df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment
0,how to build a state of the art conversational...,no subtitle,1,thomas wolf,huggingface,2019,5,9,nlp,12,3700.0,0
1,smaller faster cheaper lighter introducing dil...,no subtitle,1,victor sanh,huggingface,2019,8,28,nlp,10,3100.0,0

In [45]:
pd.to_datetime(str(2019),format='%Y')

Timestamp('2019-01-01 00:00:00')

In [46]:
clean_df_for_predict['date'] = pd.to_datetime(clean_df_for_predict[["Year","Month","Day"]])

In [47]:
clean_df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,date
0,how to build a state of the art conversational...,no subtitle,1,thomas wolf,huggingface,2019,5,9,nlp,12,3700.0,0,2019-05-09
1,smaller faster cheaper lighter introducing dil...,no subtitle,1,victor sanh,huggingface,2019,8,28,nlp,10,3100.0,0,2019-08-28

In [48]:
clean_df_for_predict['release_day'] = clean_df_for_predict['date'].dt.day_name()

In [49]:
clean_df_for_predict.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,date,release_day
0,how to build a state of the art conversational...,no subtitle,1,thomas wolf,huggingface,2019,5,9,nlp,12,3700.0,0,2019-05-09,Thursday
1,smaller faster cheaper lighter introducing dil...,no subtitle,1,victor sanh,huggingface,2019,8,28,nlp,10,3100.0,0,2019-08-28,Wednesday

In [141]:
df_1 = pd.read_csv("df_2020_I.csv")
df_2 = pd.read_csv("df_2020_II.csv")

In [142]:
df = pd.concat([df_1,df_2], axis =0)

In [143]:
df.head(5)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,url,Author_url,article_text,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks
0,Como Machine Learning consegue diferenciar het...,O Projeto de Processamento,1,Lucas Sepeda,Turing Talks,2020,4,19,NLP,7,3.1K,0,https://medium.com/turing-talks/como-machine-l...,https://medium.com/@lucassepeda?source=tag_arc...,['Projeto desenvolvido por: Fernando Matsumoto...,1,25,17,16,0
1,Brutal truths that NLP data scientists will no...,Shared by a data scientist,1,Low Wei Hong,Towards Data Science,2020,1,19,NLP,6,1K,0,https://towardsdatascience.com/brutal-truths-t...,https://towardsdatascience.com/@lowweihong?sou...,"['According to the report by Tractica, the AI-...",4,10,1,4,0
2,He Made Me Eat off the Floor When I Was Eight,How I retroactively claimed the power of my no,1,"Duncan Riach, Ph.D.",Humanity Dawns,2020,1,30,NLP,7,1.7K,0,https://medium.com/humanity-dawns/the-staggeri...,https://medium.com/@duncanr?source=tag_archive...,"['In Some Snapshots from My Shitty Childhood, ...",0,2,0,1,0
3,Using NLP to Detect Fake News,Introduction,1,Arjun Mohnot,Noteworthy The Journal Blog,2020,3,14,NLP,6,1.7K,0,https://blog.usejournal.com/using-nlp-to-detec...,https://blog.usejournal.com/@arjunmohnot?sourc...,"['Introduction', 'Nowadays, information can ea...",5,11,5,15,0
4,Five Cool Python Libraries for Data Science,Handy Python libraries for data science,1,Dhilip Subramanian,Towards AI Multidisciplinary Science Journal,2020,1,9,NLP,4,1.7K,0,https://medium.com/towards-artificial-intellig...,https://medium.com/@sdhilip?source=tag_archive...,['Python is a best friend for the majority of ...,0,26,0,8,15

In [144]:
df.tail(25)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,url,Author_url,article_text,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks
558,NaN,NaN,0,RAJESH SAHU,NaN,2020,1,31,NLP,0,0,1,https://medium.com/@martinpella/how-to-use-pre...,https://medium.com/@rajeshsahuise?source=tag_a...,"['“For decades, machine learning approaches ta...",2,0,1,6,1
559,NaN,NaN,0,"Thomas Packer, Ph.D.",NaN,2020,1,31,NLP,0,0,1,https://medium.com/modern-nlp/on-variety-of-en...,https://medium.com/@thomaspacker?source=tag_ar...,['Encoding text is at the heart of understandi...,18,35,2,23,0
560,NaN,NaN,0,Vincent Granville,NaN,2020,2,7,NLP,0,0,1,https://towardsdatascience.com/light-on-math-m...,https://medium.com/@analyticbridge?source=tag_...,['Topic modelling refers to the task of identi...,2,16,38,9,0
561,Python()TF-IDF,NaN,0,Yanwei Liu,NaN,2020,2,11,NLP,0,0,0,https://medium.com/@yanweiliu/python%E8%87%AA%...,https://medium.com/@yanweiliu?source=tag_archi...,"['Written by', 'Written by']",0,0,0,1,0
562,NaN,NaN,0,Srujitha Mudunuri,NaN,2020,2,13,NLP,0,0,1,https://chatbotslife.com/best-nlp-chatbot-plat...,https://medium.com/@srujitha.mudunuri?source=t...,"['The future is here!', 'Technology developing...",5,7,2,9,0
563,"Quality is not an act, it is a habit.",NaN,1,Kuldeep Singh Arya,NaN,2020,2,27,NLP,0,0,0,https://medium.com/@kuldeeparya3794/quality-is...,https://medium.com/@kuldeeparya3794?source=tag...,"['Written by', 'Written by']",0,0,0,1,0
564,Are you working on Neural Machine Translation....,Please give some ideas for Neural Machine Tran...,0,Kuldeep Singh Arya,NaN,2020,2,27,NLP,0,0,1,https://medium.com/modern-nlp/semantic-search-...,https://medium.com/@kuldeeparya3794?source=tag...,"['Make robust search engines', 'It took me a l...",9,14,3,14,0
565,NaN,NaN,0,Yash Jain,NaN,2020,3,2,NLP,0,0,1,https://towardsdatascience.com/word-embedding-...,https://medium.com/@yash.jain3599?source=tag_a...,"['In the world of NLP, representing words or s...",0,2,3,1,6
566,"OWL is not usually written in RDF-XML, it so h...","Today, most OWL is written in the much more re...",0,Kingsley Uyi Idehen,NaN,2020,3,2,NLP,0,0,1,https://towardsdatascience.com/neo4j-vs-grakn-...,https://medium.com/@kidehen?source=tag_archive...,"['Dear readers, in this series of articles I c...",0,3,3,21,17
567,NaN,NaN,0,Kingsley Uyi Idehen,NaN,2020,3,2,NLP,0,0,1,https://towardsdatascience.com/neo4j-vs-grakn-...,https://medium.com/@kidehen?source=tag_archive...,"['Dear readers, in this series of articles I c...",0,3,3,21,17
568,"i think its steming,not lemmatizing",i think its stemming,0,yelineedi dorayya chowdary,NaN,2020,3,10,NLP,0,0,1,https://medium.com/analytics-vidhya/tf-idf-ter...,https://medium.com/@sreesai5c?source=tag_archi...,['TF-IDF or ( Term Frequency(TF) — Inverse Den...,7,24,15,9,4
569,NaN,NaN,0,KARAN SALUJA,NaN,2020,3,25,NLP,0,0,1,https://towardsdatascience.com/text-summarizat...,https://medium.com/@karansaluja.bits?source=ta...,"['With the rise of internet, we now have infor...",0,0,0,3,0
570,"Hi Giavid Valiyev,","In any case, I wanted to shout out___ as the a...",0,Marc TorSoc,NaN,2020,3,31,NLP,0,0,1,https://medium.com/@_init_/using-zipfs-law-to-...,https://medium.com/@mtorrellassocastro?source=...,"['In this article, I will explain what is Zipf...",0,1,0,10,0
571,"Ways businesses are impacted by rpa, ocr and nlp",NaN,0,Mantha Anirudh,NaN,2020,4,3,NLP,0,0,0,https://medium.com/@anirudh.m/ways-businesses-...,https://medium.com/@anirudh.m?source=tag_archi...,"['Written by', 'Written by']",0,0,0,1,0
572,NaN,NaN,1,Liu Wei,NaN,2020,4,4,NLP,0,0,0,https://medium.com/@liuwei_97790/how-technolog...,https://medium.com/@liuwei_97790?source=tag_ar...,"['Written by', 'Written by']",0,0,0,1,0
573,NaN,NaN,0,Vincent Claes,NaN,2020,4,4,NLP,0,0,1,https://towardsdatascience.com/summarization-h...,https://medium.com/@vincentclaes_43752?source=...,['Have you ever had to summarize a lengthy doc...,1,10,17,5,4
574,NaN,NaN,0,Awesome Kid,NaN,2020,4,9,NLP,0,0,1,https://towardsdatascience.com/generating-text...,https://medium.com/@arjunarastogi?source=tag_a...,['There are many articles that have gained pop...,0,4,2,2,1
575,"Hello, Ibrahim.",Thanks for your article. Its so important and ...,0,Doaa mohamed,NaN,2020,4,15,NLP,0,0,1,https://towardsdatascience.com/introduction-to...,https://medium.com/@doaamohamed1995123?source=...,['NLP is an interdisciplinary field concerned ...,0,30,26,4,0
576,Thanks for the informative article Gunjit!,https://stackoverflow.com/questions/61254065/h...,0,yonatan shalev,NaN,2020,4,16,NLP,0,0,1,https://medium.com/voice-tech-podcast/auto-tex...,https://medium.com/@yonish3?source=tag_archive...,['Natural language processing and within this ...,1,30,3,19,4
577,Hey thanks for putting this together! Youre do...,In the article you say that ULMFiT gets better...,0,Raj Singh,NaN,2020,4,18,NLP,0,0,1,https://medium.com/huggingface/distilbert-8cf3...,https://medium.com/@raj.singh_51969?source=tag...,"['2019, October 3rd — Update: We are releasing...",9,59,25,10,0
578,NaN,NaN,0,farima fatahi,NaN,2020,4,20,NLP,0,0,1,https://towardsdatascience.com/an-implementati...,https://medium.com/@farima.fatahi1374?source=t...,"['Word2Vec is touted as one of the biggest, mo...",4,28,39,20,2
579,NaN,NaN,0,Matt Moehr,NaN,2020,4,22,NLP,0,0,1,https://medium.com/tim-black/fuzzy-string-matc...,https://medium.com/@mattmoehr?source=tag_archi...,"['More and more often, companies are blending ...",0,5,16,5,0
580,NaN,NaN,0,Bin Wang,NaN,2020,4,25,NLP,0,0,1,https://towardsdatascience.com/named-entity-re...,https://medium.com/@binwang.cu?source=tag_arch...,['Named entity recognition (NER)is probably th...,0,1,1,19,20
581,NaN,NaN,0,Nick Saraev,NaN,2020,5,1,NLP,0,0,1,https://medium.com/voice-tech-global/conversat...,https://medium.com/@nick_wells?source=tag_arch...,"['Podcasts have been consumed by many of us, w...",0,85,0,17,0
582,NaN,NaN,0,Nick Saraev,NaN,2020,5,1,NLP,0,0,1,https://medium.com/@CobusGreyling/managing-use...,https://medium.com/@nick_wells?source=tag_arch...,['Most chatbot conversations follow a very sim...,2,3,5,6,0

In [145]:
df.isnull().sum()

Title                  76
Subtitle              617
Image                   0
Author                  0
Publication           684
Year                    0
Month                   0
Day                     0
Tag                     0
Reading_Time            0
Claps                   0
Comment                 0
url                     0
Author_url              0
article_text            0
no_of_blockquotes       0
no_of_bolded_text       0
no_of_italics_text      0
no_of_figures_text      0
no_of_code_chunks       0
dtype: int64

In [146]:
df.loc[df['Title'].isnull(),'Title'] = "no title"
df.loc[df['Subtitle'].isnull(),'Subtitle'] = "no subtitle"
df.loc[df['Publication'].isnull(),'Publication'] = "no publication"

In [147]:
df.isnull().sum()

Title                 0
Subtitle              0
Image                 0
Author                0
Publication           0
Year                  0
Month                 0
Day                   0
Tag                   0
Reading_Time          0
Claps                 0
Comment               0
url                   0
Author_url            0
article_text          0
no_of_blockquotes     0
no_of_bolded_text     0
no_of_italics_text    0
no_of_figures_text    0
no_of_code_chunks     0
dtype: int64

In [148]:
df.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,url,Author_url,article_text,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks
0,Como Machine Learning consegue diferenciar het...,O Projeto de Processamento,1,Lucas Sepeda,Turing Talks,2020,4,19,NLP,7,3.1K,0,https://medium.com/turing-talks/como-machine-l...,https://medium.com/@lucassepeda?source=tag_arc...,['Projeto desenvolvido por: Fernando Matsumoto...,1,25,17,16,0
1,Brutal truths that NLP data scientists will no...,Shared by a data scientist,1,Low Wei Hong,Towards Data Science,2020,1,19,NLP,6,1K,0,https://towardsdatascience.com/brutal-truths-t...,https://towardsdatascience.com/@lowweihong?sou...,"['According to the report by Tractica, the AI-...",4,10,1,4,0

In [149]:
######cleaning starts
len(df)

1487

In [150]:
#remove duplicate rows

df = df.drop_duplicates(subset=None,keep = 'first',inplace = False)

In [151]:
len(df)

1487

In [152]:
df = df.drop(['url','Author_url'],inplace = False , axis = 1)

In [153]:
repl_dict = {'[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9', }
df['Claps'] = df['Claps'].replace(repl_dict, regex=True).map(pd.eval)

In [154]:
repl = lambda x: x.replace("!,\"#%&'()*+,-./:;<=>?@[\\]^_`{|}~–", ' ')

In [155]:
df.dtypes

Title                  object
Subtitle               object
Image                   int64
Author                 object
Publication            object
Year                    int64
Month                   int64
Day                     int64
Tag                    object
Reading_Time            int64
Claps                 float64
Comment                 int64
article_text           object
no_of_blockquotes       int64
no_of_bolded_text       int64
no_of_italics_text      int64
no_of_figures_text      int64
no_of_code_chunks       int64
dtype: object

In [156]:
df.select_dtypes = df.select_dtypes(include='object').applymap(repl)

In [157]:
len(df['article_text'][10])

2

In [158]:
df['article_text']=  df['article_text'].str.join('')

In [159]:
df.head(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,Claps,Comment,article_text,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks
0,Como Machine Learning consegue diferenciar het...,O Projeto de Processamento,1,Lucas Sepeda,Turing Talks,2020,4,19,NLP,7,3100.0,0,['Projeto desenvolvido por: Fernando Matsumoto...,1,25,17,16,0
1,Brutal truths that NLP data scientists will no...,Shared by a data scientist,1,Low Wei Hong,Towards Data Science,2020,1,19,NLP,6,1000.0,0,"['According to the report by Tractica, the AI-...",4,10,1,4,0

In [161]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 1.6 MB/s eta 0:00:01
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.7/site-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (2019.11.28)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (2.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests->vaderSentiment) (3.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [162]:
###sentiments on text

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [166]:
analyzer= SentimentIntensityAnalyzer()

df['compound_senti'] = [analyzer.polarity_scores(v)['compound'] for v in df['article_text']]
df['neg_senti'] = [analyzer.polarity_scores(v)['neg'] for v in df['article_text']]
df['neu_senti'] = [analyzer.polarity_scores(v)['neu'] for v in df['article_text']]
df['pos_senti'] = [analyzer.polarity_scores(v)['pos'] for v in df['article_text']]

In [167]:
df.tail(2)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,...,article_text,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks,compound_senti,neg_senti,neu_senti,pos_senti
581,no title,no subtitle,0,Nick Saraev,no publication,2020,5,1,NLP,0,...,"['Podcasts have been consumed by many of us, w...",0,85,0,17,0,0.9998,0.008,0.859,0.134
582,no title,no subtitle,0,Nick Saraev,no publication,2020,5,1,NLP,0,...,['Most chatbot conversations follow a very sim...,2,3,5,6,0,0.9863,0.031,0.897,0.072

In [173]:
df.to_csv("df.csv")

In [168]:
df_no_text = df.drop(['article_text'],inplace = False , axis = 1)

In [169]:
df_no_text.tail(5)

,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Tag,Reading_Time,...,Comment,no_of_blockquotes,no_of_bolded_text,no_of_italics_text,no_of_figures_text,no_of_code_chunks,compound_senti,neg_senti,neu_senti,pos_senti
578,no title,no subtitle,0,farima fatahi,no publication,2020,4,20,NLP,0,...,1,4,28,39,20,2,0.9925,0.026,0.917,0.057
579,no title,no subtitle,0,Matt Moehr,no publication,2020,4,22,NLP,0,...,1,0,5,16,5,0,0.9980,0.009,0.906,0.086
580,no title,no subtitle,0,Bin Wang,no publication,2020,4,25,NLP,0,...,1,0,1,1,19,20,0.9699,0.023,0.910,0.067
581,no title,no subtitle,0,Nick Saraev,no publication,2020,5,1,NLP,0,...,1,0,85,0,17,0,0.9998,0.008,0.859,0.134
582,no title,no subtitle,0,Nick Saraev,no publication,2020,5,1,NLP,0,...,1,2,3,5,6,0,0.9863,0.031,0.897,0.072

In [171]:
len(df_no_text)

1487

In [172]:
df_no_text.to_csv('df_features.csv',index = False)